@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Yekan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Yekan.woff) format('woff');
  }
  html {
    font-family: 'Yekan' , Verdana, Geneva, Tahoma, sans-serif;
    direction: rtl;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  /* transition: all 0.1s ease-in 0.1s; */
}

body {}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}