@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Yekan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Yekan.woff) format('woff');
  }
  html {
    font-family: 'Yekan' , Verdana, Geneva, Tahoma, sans-serif;
    direction: rtl;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  /* transition: all 0.1s ease-in 0.1s; */
}

body {}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #0f5047;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #01CFC9;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

body > section.w-full.px-10.sm\:px-16.lg\:px-28.flex.flex-col-reverse.sm\:flex-col-reverse.lg\:flex-row.gap-20.justify-between.items-center.py-10 > div.w-1\/2.lg\:pr-20 > div > div > div > div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal > .swiper-pagination-bullet-active {
  background-color: #01CFC9 !important;
}